PORT=5000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/jwt-auth-api

SALT_WORK_FACTOR=10
ACCESS_TOKEN_SECRET=super_secret1234
REFRESH_TOKEN_SECRET=some-secret-refresh-token-shit
SESSION_SECRET=AWESOME_SECRET_123
ACCESS_TOKEN_TTL= 86400
REFRESH_TOKEN_TTL=86400
